<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<title>Tech Blog - Stylish Magazine Blog Template</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="/css/font-awesome.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="/css/responsive.css" rel="stylesheet">

<!-- Colors for this template -->
<link href="/css/colors.css" rel="stylesheet">

<!-- Version Tech CSS for this template -->
<link href="/css/version/tech.css" rel="stylesheet">

<link href="/css/registration.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<body>

<div id="wrapper">
    <header class="tech-header header">
        <div class="container-fluid">
            <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img src="/images/version/tech-logo.png" alt=""></a>
                <div class="collapse navbar-collapse" id="navbarCollapse" >
                    <ul class="navbar-nav mr-2">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div><!-- end container-fluid -->
    </header><!-- end market-header -->


    <hr class="invisheader">

    <div class="registration-section-container">
        <h1 class="registration-section-container-title">Create An Account</h1>
        <p class="registration-section-container-description">Create your account, it takes less than a minute. If you
            already have an account - <a href="index" class="registration-section-container-description-link">login</a>
        </p>
        <form action="#" th:modelAttribute="user" th:action="@{/registration}"  method="post"
              class="registration-section-container-form">
            <div class="registration-section-container-form-input-wrapper">
                <img class="box-icons" src="./img/user-icon.svg" alt="User Icon">
                <label> <!--for="full-name"-->></label>
                <input class="registration-section-container-form-input" id="full-name"
                       placeholder="Full name" type="text">
            </div>
            <!--<div>
                <p style="color: darkred" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name
                    Error</p>
            </div>-->
            <div class="registration-section-container-form-input-wrapper">
                <img class="box-icons" src="./img/mail-icon.svg" alt="User Icon">
                <label> <!--for="email"-->></label>
                <input  class="registration-section-container-form-input" id="email"
                       placeholder="Email address" type="email">
            </div>

            <!--<div>
                <p style="color: darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name
                    Error</p>
            </div>-->

            <!--<div  >
                <p style="color: darkred" th:if="${param.emailError}" th:text="${param.emailError}">Name
                    Error</p>
            </div>-->
            <div class="registration-section-container-form-input-wrapper">
                <img class="box-icons" src="./img/lock-icon.svg" alt="User Icon">
                <label> <!--for="password"-->></label>
                <input class="registration-section-container-form-input" id="password"
                       placeholder="Password" type="password">
            </div>

            <!--<div>
                <p style="color: darkred" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name
                    Error</p>
            </div>-->
            <div class="registration-section-container-form-input-wrapper mb0">
                <img class="box-icons" src="./img/lock-icon.svg" alt="User Icon">
                <label> <!--for="confirm-password"-->></label>
                <input class="registration-section-container-form-input" id="confirm-password"
                       placeholder="Confirm Password" type="password">
            </div>
            <!--<div  >
                <p style="color: darkred"  th:if="${#fields.hasErrors('global')}" th:errors="*{global}" >Name
                    Error</p>
            </div>-->


            <input type="submit" value="Create account" class="registration-section-container-form-submit">

        </form>
    </div>
</div>
</body>
</html>